<!-- users.ejs -->
<html>
<head>
    <title>Coding Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Coding Forum</h1>
    <h2>Find out Our Lovely Users</h2>
    <ul>
        <% for (let user of ourUsers) { %>
            <li><%= user.user_id %> <%= user.user_name %> <%= user.user_email %></li>
        <% } %>
    </ul>
</body>
</html>