<!-- users.ejs -->
<html>
<head>
    <title>Coding Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Coding Forum</h1>
    <h2>Find out Our Lovely Users</h2>
    <ul>
        <% for (let user of ourUsers) { %>
            <li>User ID :<%= user.user_id %> User Name :<%= user.user_name %> USER Email :  <%= user.user_email %> registertion date : <%= user.registered_date %></li>
        <% } %>
    </ul>
</body>
</html>